.wrapper {
  justify-content: center;
  width: 70%;
  height: 250px;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  background-color: #587487;
}
.title_contact {
  color: white;
  font-weight: 700;
  font-size: 20px;
}
.list_fltitle {
  color: white;
}
.text_last {
  text-align: center;
  margin: auto;
  color: white;
}
