.wrapper {
  width: 250px;
  padding: 20px 0 26px 8px;
  margin-left: -18px;
}
.avatar_profile {
  box-shadow: 0 0 10px 0 rgba(0, 24, 128, 0.1);
  padding: 15px;
}
.avatar_des {
  position: relative;
  display: block;
  border: 2px solid #2e55fa;
  outline-offset: 3px;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  span {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 2;
    img {
        object-fit: cover;
    }
  }
}
.avatar_des::before {
  content: '';
  position: absolute;
  background-color: #2e55fa;
  height: 115%;
  width: 2px;
  left: 50%;
  top: -10px;
  z-index: -1;
}

.avatar_des::after {
  content: '';
  position: absolute;
  left: -15px;
  top: 50%;
  width: 120%;
  background-color: #2e55fa;
  height: 2px;
  z-index: -1;
}
