.wrapper {
    box-shadow: 0 0 10px 0 rgba(0, 24, 128, 0.1);
    padding: 15px;
    margin: 20px 0 0 20px;
}
.input {
    box-shadow: 0 0 10px 0 rgba(0, 24, 128, 0.1);
    padding: 15px;
}
.title{
    font-weight: 700;
    font-size: 30px;
}
.button-Submit{
    display: flex !important;
    justify-content: center;
    margin: auto;
    background-color: #27ae60 !important;
    color: #fff !important;
}