.wrapper {
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-title {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 2rem;
  font-weight: bold;
}

.form-wrapper {
  padding: 2rem 2rem;
  background-color: var(--grey);
  min-width: 28%;
  margin-right: 10%;

  .login-form-forgot {
    float: right;
    color: var(--second-color);
  }

  .login-form-button {
    width: 100%;
  }

  .login-form-register-text {
    color: var(--second-color);
  }
}
