.wrapper {
  box-shadow: 0 0 10px 0 rgba(0, 24, 128, 0.1);
  padding: 15px;
  margin: 20px 0 0 20px;
  h2 {
    font-weight: 700;
    text-align: center;
  }
}
.add_question {
  //   .ant-form-item-row {
  //     justify-content: flex-end;
  //   }
  .ant-row {
    justify-content: flex-end !important;
  }
}
.status-survey {
  .approve {
    background-color: #27ae60;
    color: #fff;
  }
  .reject {
    background-color: #2c3e50;
    color: #fff;
  }
  .delete{
    background-color: #e74c3c;
    color: #fff;
  }
}
